<html>
  <head>
    <title>LA Bike Share</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">

    //write or return data from the java generated txt file
    function getInfo(str,print) {
      var result = null;
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "/results.txt", false);
      xmlhttp.send();
      if (xmlhttp.status==200) {
        result = xmlhttp.responseText;
        var line = result.split(/\r?\n/);
        for (var i = 0; i < line.length; i++) { 
          if(line[i].indexOf(str) > -1) {
            if(line[i].indexOf(".") > -1) {
              if(print) {
                document.write(line[i].substring(str.length+1, line[i].indexOf(".")+3));
              }
              return line[i].substring(str.length+1, line[i].indexOf(".")+3);
            } else {
              if(print) {
                document.write(line[i].substring(str.length+1));
              }
              return line[i].substring(str.length+1);
            }
          }
        }
      }   
    }

    </script>

  </head>
  <body>
    
    <div class="one">
      <h1 class="one">some INTERESTING facts about BIKESHARING in LA</h1>
    </div>

    <div class="two">
      <p class="two">From July 2016 to March 2017, there were <script>getInfo("Number of trips",true)</script> total rides in the LA bikeshare system. Let's see where we went...</p>
    </div>

    <div class="three">
      <p>The most popular start station was <script>getInfo("Popular start",true)</script>
      The most popular end station was <script>getInfo("Popular end",true)</script></p>
    </div>

    <div class="three" style="background-color:FF8C00">
      <p>There were <script>getInfo("Regular riders",true)</script> regular riders. </p>
    </div>

    <div class="three">
      <p>Each ride was <script>getInfo("Average distance",true)</script> miles on average. After the <script>getInfo("Number of trips",true)</script> rides, that means about <script>getInfo("Car gas saved",true)</script> gallons of gas was saved. That's equivalent to $<script>getInfo("Car money saved", true)</script>!</p>
      <span id="dot"></span>
      <script>
        //generate lots of dots
        var numDots = Math.floor(parseFloat(getInfo("Car gas saved",false)));
        for (var i=0;i<numDots;i++) {  
          var g = document.createElement('div');
          g.setAttribute("class", "dot");
          document.getElementById('dot').appendChild(g);
        }
      </script>
      <p>There are <script>document.write(Math.floor(parseFloat(getInfo("Car gas saved",false))))</script> dots in this graphic to help picture the large amount of gas that was saved.</p>
    </div>

    <div class="three" style="background-color:FF8C00">
      <p>People estimated that they would be gone for an average of 
          <script>getInfo("Estimated duration",true)</script> 
        minutes. But on average they were actually gone for 
          <script>getInfo("Actual duration",true)</script> 
        minutes. That's 
          <script>document.write(Math.floor(parseFloat(getInfo("Actual duration",false)/60)))</script> 
        hours. Hmmmm.... </p>
      <img src="durations.png">
    </div>

    <div class="three">
      <p>These are the number of rides that started at each hour. Most people picked up a bike at 5pm.</p>
      <img src="start.png">
    </div>

    <div class="three" style="background-color:FF8C00">
      <p>These are the number of rides that ended at each hour. As one might expect, the hours of 3am-5am were the least frequent times for someone to return a bike.</p>
      <img src="end.png">
    </div>

  </body>
</html>